html{
    height: 100%; /*set the web page fit 100% zoom*/
}
body{                   /*the body attributes*/
    margin: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}
main{                 /*the main section in teh body */
    margin-left: 20px;
    margin-right: 20px;
}

h1{                             /*all first heading found everywhere will be attributted to have the following */
    background-color: rgb(247, 247, 247);
    text-align: center;
    color: rgb(5, 26, 255);
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
}

#motto{                        /*the motto of the website*/
    text-align: center;
    color: rgb(21, 91, 4);
    margin-top: 0%;
    margin-bottom: 0%;
}
.navbar ul{             /*styling the lists in the menu bar (navivation bar)*/
    list-style-type: none;
    background-color: rgb(32, 8, 243);
    padding: 0%;
    margin: 20px;
    overflow: hidden;

}

.navbar a{            /*styling the links (anchor) for each lists in the menu bar (navivation bar)*/
    text-decoration-line: none;
    padding: 15px;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.navbar li{
    float: left;
}

.navbar a:hover{             /*setting lists in the menu bar to change color when hover on*/
    background-color: rgb(111, 111, 109);
}

body{             /*styling the body margin*/
    margin: 20px;
}
#farmer1 {            /*specifically styling the image with id "farmer1"*/
    float: right;
}
#Abay {            /*specifically styling the video with id "Abay"*/
    float: right;
}

/*styling the id = testimonisls list*/
#testimonials {
  list-style: none;         /* Removes default bullet points */
  padding-left: 0;
}
#testimonials ::before {      /* replaces default bullet points by emoji*/
    content: "💡";
    margin-right: 10px;
    margin-left: 35px;
}

/*here below styles the separate html file associated to the registration form*/
/*I couldn't arrange the label and inputs side-by-side*/

.RegisterForm {
    display: block;
}

label {
    width: 120px;
    display: flex;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bolder;
    color: black;
}

input {
    flex: 1; /* input takes remaining space */
    padding: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: #012df1;
    color: rgb(253, 252, 252);
    border: none;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
}
button:hover {
    background: #23cce6;
}

/*the registration FORM styling ended here*/


/*the following styling is applied on the separete "About" html page*/
ul.Objectives {
  list-style: none;         /* Removes default bullet points */
  padding-left: 0;
}
.Objectives ::before {      /* replaces default bullet points by emoji*/
    content: "⭐";
    margin-right: 10px;
    margin-left: 35px;
}


/* some styling for the footer we see at the end*/
footer{
    background-color: rgb(181, 192, 239);
    color: black;
    margin-top: 0;
}